@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;400;600;900&display=swap");

/*//font-family: 'Dela Gothic One', cursive;
//font-family: 'Roboto Flex', sans-serif;*/
:root {
    /* ### Primary */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    /* ### Neutral */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    /*PRIMARY*/
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    /*NEUTRAL*/
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    text-decoration: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 50%;
}