html {
    background-color: lightgray;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    text-decoration: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 50%;
}